@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url(./svg.css);

/************theme color set************/
* {
  --rich-black: #010203;
  --soft-grey: #a1a1a1;
  --active: #1785f2;
  --white: white;
}

/************element************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}

p,
textarea,
button {
  font-size: 16px;
}

textarea {
  padding: 10px;
  resize: none;
}
textarea:focus {
  outline: none;
}

button,
.label-btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  text-align: center;
}
button:enabled:active,
.label-btn[for]:active {
  filter: invert(10%);
}
button:disabled {
  cursor: auto;
}

/************class************/
.header-content,
.main-content,
.footer-content {
  width: 640px;
  margin: 0 auto;
  display: flex;
}
.btn-active {
  background-color: var(--active);
  color: var(--white);
}
.btn-disable {
  border: 1px solid var(--soft-grey);
  color: var(--soft-grey);
  background: var(--white);
}

/*header*/
.header-content {
  padding: 30px 0;
  gap: 10px;
  align-items: center;
}
.header-title {
  letter-spacing: -3.5px;
}
.header-content > .question-mark {
  width: 40px;
  height: 40px;
  color: var(--soft-grey);
}

/*main*/
main {
  flex: 1;
}
.main-content {
  flex-direction: column;
  gap: 50px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-title {
  font-variant-numeric: tabular-nums;
}

.toggle > summary::-webkit-details-marker {
  display: none;
}
.toggle > summary {
  list-style-type: none;
}
.toggle > summary::after {
  content: '▲';
  color: var(--soft-grey);
  transform: rotate(0);
  transition: 0.5s;
}
.toggle[open] > summary::after {
  transform: rotate(180deg);
}

.label-btn {
  display: block;
}

.btn-double,
.toggle > summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-double > button,
.toggle > summary > * {
  width: 100%;
}

.reset-btn {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: var(--soft-grey);
}

/*footer*/
.footer-content {
  padding: 30px 0;
  flex-direction: column;
}
.footer-name {
  font-size: 20px;
  font-weight: bold;
}
.footer-email {
  display: flex;
  align-items: end;
  gap: 4px;
}
.footer-email address {
  cursor: pointer;
  font-style: normal;
  text-decoration: underline;
}
.footer-email address:hover {
  filter: invert(40%);
}
.footer-link {
  display: flex;
  gap: 10px;
}
.footer-link span {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  color: var(--text-color);
}
