@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url(./svg.css);

/********** theme color set */
* {
  --rich-black: #010203;
  --hard-grey: #313131;
  --soft-grey: #a1a1a1;
  --active: #1785f2;
  --white: white;
}

/********** element */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body > * {
  width: 760px;
  margin: 0 auto;
}

a {
  color: inherit;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

p,
textarea,
button {
  font-size: 16px;
}
textarea {
  padding: 20px;
  resize: none;
}
textarea:focus,
input:focus {
  outline: none;
}

button,
.label-button {
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}
button:enabled:active,
.label-button[for]:active {
  filter: invert(10%);
}
button:disabled {
  cursor: auto;
}

input[type='checkbox'] {
  cursor: pointer;
}

/********** class */
.active-state {
  color: var(--white);
  background: var(--active);
}
.disable-state {
  color: var(--soft-grey);
  background: var(--white);
  border: 1px solid var(--soft-grey);
}

/* header */
.header-content {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-title {
  font-size: 48px;
  letter-spacing: -3.5px;
}
.header-content > .question-mark {
  width: 40px;
  height: 40px;
  color: var(--soft-grey);
}

/* footer */
.footer-content {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.footer-name {
  font-size: 20px;
  font-weight: bold;
}
.footer-email {
  display: flex;
  align-items: end;
  gap: 4px;
}
.footer-email address {
  cursor: pointer;
  font-style: normal;
  text-decoration: underline;
}
.footer-email address:hover {
  filter: invert(40%);
}
.footer-link {
  display: flex;
  gap: 10px;
}
.footer-link span {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

/* main */
main {
  flex: 1;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-content > *:not(.section-title) {
  margin-left: 30px;
}
.section-title {
  font-size: 24px;
  font-variant-numeric: tabular-nums;
}

.toggle > summary {
  display: flex;
  list-style-type: none;
}
.toggle > summary > * {
  width: 100%;
}
.toggle > summary::-webkit-details-marker {
  display: none;
}
.toggle > summary::after {
  content: '▲';
  color: var(--soft-grey);
  cursor: pointer;
  transform: rotate(0);
  transition: 0.5s;
}
.toggle[open] > summary::after {
  transform: rotate(180deg);
}
.toggle-content {
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* common table */
table button {
  padding: 0;
  background: none;
}
table button > span {
  width: 24px;
  height: 24px;
}
.delete-button > span {
  color: var(--hard-grey);
}
.add-button > span {
  color: var(--active);
}

/* file table */
.file-table {
  border-collapse: collapse;
}
.file-table th {
  padding: 10px;
  font-weight: normal;
  border-bottom: 1px solid black;
}
.file-table tbody > tr:first-child td {
  padding-top: 10px;
}
.file-table td {
  padding: 4px 10px;
}
.file-table tr > :nth-child(1) {
  width: 10%;
  text-align: right;
}
.file-table tr > :nth-child(2) {
  width: 80%;
  text-align: left;
}
.file-table tr > :nth-child(3) {
  width: 10%;
  text-align: left;
}

/* convert table */
.convert-table {
  white-space: nowrap;
  border-spacing: 10px;
}
.convert-table th button {
  font-weight: bold;
}
.convert-table input {
  width: 100%;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--soft-grey);
  border-radius: 10px;
}
.convert-table tr > :last-child {
  text-align: center;
}

/* sql area */
.sql-textarea {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: var(--hard-grey);
  color: var(--white);
}

/* etc */
.double-contents-area {
  display: flex;
  gap: 10px;
}
.double-contents-area > button {
  width: 100%;
}

.reset-button {
  width: fit-content;
  padding: 0;
  margin-right: 30px;
  align-self: center;
  background: none;
  color: var(--soft-grey);
  text-decoration: underline;
}
