* {
  --rich-black: #010203;
  --hard-grey: #313131;
  --mild-grey: #a1a1a1;
  --soft-grey: #e7e7e7;
  --active-blue: #1785f2;
  --warning-red: #e6092e;
  --soft-white: white;
  --table-green: #3c9c67;
}
